<!-- Page Content-->

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&w=600" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">The Culinary Canvas</h1>
            <h4>"Feast Your Eyes, Then Your Appetite!</h4>
            <p>We believe food isn't about taste-it's about experience, because here, every dish is a masterpiece meant to be seen, savored and shared.</p>
            <a class="btn btn-primary" routerLinkActive="active" routerLink="/menu">Menu</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">"Stay hungry, stay curious! Follow our blog for mouthwatering updates, chef speacials and exclusive food content!"</p></div>
    </div>

