 <!-- Content Row-->
 <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div>
            <div class="card-body">
                <img class="card-text1" src="https://images.pexels.com/photos/750073/pexels-photo-750073.jpeg?auto=compress&cs=tinysrgb&w=600"/>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div>
            <div class="card-body">
                <img class="card-text1" src="https://images.pexels.com/photos/88917/pexels-photo-88917.jpeg?auto=compress&cs=tinysrgb&w=600"/>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div>
            <div class="card-body">
                <img class="card-text1" src="https://images.pexels.com/photos/1487511/pexels-photo-1487511.jpeg?auto=compress&cs=tinysrgb&w=600"/>
            </div>
        </div>
    </div>
    <!--to add a video-->
    <div class="row">
        <div>
          <div>
            <video controls>
              <source src="https://videos.pexels.com/video-files/3196344/3196344-sd_640_360_25fps.mp4" type="video/mp4">
            </video>
            <video controls>
              <source src="https://videos.pexels.com/video-files/4686844/4686844-sd_960_506_25fps.mp4" type="video/webm">
            </video>
          </div>
        </div>
      </div>
</div>


